@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --primary-header: 0 0% 98% / 0.6;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --toc-highlight: rgb(105, 88, 255);
    --scrollbar-foreground: rgba(37, 37, 37, 0.425);

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --primary-header: 240 5.9% 10% / 0.6;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --scrollbar-foreground: rgba(81, 80, 90, 0.459);

    --toc-highlight: rgb(197, 255, 88);

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-primary-header {
  background-color: hsl(var(--primary-header));
}

.animate-in {
  opacity: 0;
  animation: 0.3s ease-out animate-in;
  animation-delay: calc(var(--index) * 150ms);
  animation-name: animate-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; /*これで値を保持*/
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
}

::-webkit-scrollbar-track {
  background: hsl(var(--background)); /* 背景色 */
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  animation: fadeIn 0.5s ease 0s 1 normal backwards;
}

/* スクロール制限 */
body.modal-open {
  overflow: hidden;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

pre {
  overflow-x: auto;
}

pre [data-line] {
  padding: 0 1rem;
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.active-link {
  color: var(--toc-highlight);
  font-weight: 900;
  transition: 0.6s;
  text-decoration-line: underline;
}

.toc-link {
  transition: 0.6s;
  text-decoration-line: none;
}
